<header>
  <nav class="navbar navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="#">
        <%= image_pack_tag 'media/img/shaperuby.svg', size: '120x60', alt: 'Ruby Shape' %>
      </a>
    </div>
  </nav>
</header>
