<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eleventh navbar example">
    <div class="container">
      <a class="navbar-brand me-3" href="#">
        <%= image_pack_tag 'media/img/ruby_shape_raw.svg', size: '100x50', alt: 'Ruby Shape' %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample09">
        <div class="ms-auto navbar-nav">
          <a href="" class="nav-link fw-500 me-3">Feedback</a>
        </div>
      </div>
    </div>
  </nav>  
</header>
