<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eleventh navbar example">
    <div class="container">
      <div class="flex-center">
        <a class="navbar-brand me-3" href="#">
          <%= image_pack_tag 'media/img/ruby_shape_raw.svg', size: '25x25', alt: 'Ruby Shape' %>
        </a>
        <a href="/" class="h6 mb-0 text-dark ms-3">Home</a>
        <div class="h6 mb-0 text-dark">&nbsp;></div>
        <a href="/profile" class="h6 mb-0 text-dark">&nbsp;Your profile</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample09">
        <div class="ms-auto navbar-nav">
          <a href="" class="nav-link fw-500 me-3">Feedback</a>
          <div class="dropdown">
            <a href="#" class="nav-link d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle me-1" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" /> </svg>
              <span class="ms-2 fw-600 d-none d-sm-inline mx-1">Jane Doe</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li><a class="dropdown-item" href="/admin">Admin</a></li>
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
