<header>
  <nav class="navbar navbar-expand-md bg-light bg-opacity-0 bg-white" aria-label="navbar">
    <div class="container">
      <a class="navbar-brand me-3" href="#">
        <%= image_pack_tag 'media/img/shape_ruby.svg', size: '120x60', alt: 'Ruby Shape' %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#actualNavbar" aria-controls="actualNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="actualNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link fw-500" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-500" href="/admin">Admin</a>
          </li>
        </ul>
        <div class="ms-auto navbar-nav">
          <a href="/login" class="nav-link fw-500 me-3">Sign in</a>
          <a class="btn btn-dark fw-500" href="#">
            Start for free
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
