<div id="why" style="min-height:60vh" class="flex-center flex-column py-5">
  <div style="min-height:40vh" class="flex-center flex-column py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 ">
          <h2 class="mb-4 display-5">A wonderful landing page first</h2>
          <div>
            <span>
              <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nulla, alias! Illum officiis debitis quasi voluptatem sequi tempora quaerat minus officia iusto.</p>
            </span>
          </div>
          <a class="d-flex flex-row justify-content-start align-items-center fw-bold" href="">A link to somewhere<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22" fill="currentColor">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
              </path>
            </svg>
          </a>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column">
          <img width="100%" height="auto" src="https://res.cloudinary.com/bdavidxyz-com/image/upload/v1635324689/blog/curve.png" loading="lazy">
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:40vh" class="flex-center flex-column py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 order-md-2">
          <h2 class="mb-4 display-5">The well-known Bootstrap for the UI design</h2>
          <div>
            <span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, eveniet repellendus magni nihil velit cumque corrupti, ipsum quae recusandae unde repellat illum totam ex.</p>
            </span>
          </div>
          <a class="d-flex flex-row justify-content-start align-items-center fw-bold" href="">Go here to view<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22" fill="currentColor">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
              </path>
            </svg>
          </a>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column">
          <img width="100%" height="auto" src="https://res.cloudinary.com/bdavidxyz-com/image/upload/v1635324689/blog/curve.png" loading="lazy">
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:40vh" class="flex-center flex-column py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 ">
          <h2 class="mb-4 display-5">Ruby-on-Rails integration</h2>
          <div>
            <span>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse veritatis quasi quas. Doloribus odit optio laborum. Eaque tenetur iure earum laborum, nam quisquam.</p>
              <p class="text-muted">This is currently in development and will be available to customers soon.</p>
            </span>
          </div>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column">
          <img width="100%" height="auto" src="https://res.cloudinary.com/bdavidxyz-com/image/upload/v1635324689/blog/curve.png" loading="lazy">
        </div>
      </div>
    </div>
  </div>
  <div style="min-height:40vh" class="flex-center flex-column py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 d-flex flex-column mb-3 order-md-2">
          <h2 class="mb-4 display-5">Great advantages for everybody</h2>
          <div>
            <span>
              <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Quod expedita voluptatum voluptates delectus</p>
              <p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Rerum nemo repellat ipsa ducimus distinctio perferendis a.</p>
            </span>
          </div>
          <a class="d-flex flex-row justify-content-start align-items-center fw-bold" href="">One last link<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22" fill="currentColor">
              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
              </path>
            </svg>
          </a>
        </div>
        <div class="col-12 col-md-7 d-flex flex-column">
          <img width="100%" height="auto" src="https://res.cloudinary.com/bdavidxyz-com/image/upload/v1635324689/blog/curve.png" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>
